@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/century_gothic.eot');
	src: url('fonts/century_gothic.eot?#iefix') format('embedded-opentype'), url('fonts/century_gothic.svg#Century Gothic') format('svg'), url('fonts/century_gothic.woff') format('woff'), url('fonts/century_gothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CenturyGothic-Bold';
	src: url('fonts/CenturyGothic-Bold.eot?') format('eot'), url('fonts/CenturyGothic-Bold.woff') format('woff'), url('fonts/CenturyGothic-Bold.ttf') format('truetype'), url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: Bold;
	font-style: normal;
}
body {
	background: url(images/body-rep.jpg) repeat;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}
/* Text elements */
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
p {
	margin-bottom: 1.625em;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong, b {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px Georgia, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
blockquote div {
	color: #007580;
	font-size: 14px;
	font-family: arial;
	margin-left: 35px;
	margin-right: 35px;
}
blockquote div h2 {
	color: #0e4363;
	font-family: arial;
	font-size: 24px !important;
	font-weight: bold !important;
	margin: 0 0 20px !important;
}
pre {
	background: #f4f4f4;
	font: 13px Georgia, sans-serif;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd, samp, var {
	font: 13px Georgia, sans-serif;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
.alignright {
	float: right;
	margin: 0 0px 10px 10px;
}
.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}
h1, h2, h3, h4, h5, h6, ul, p, input, form, fieldset {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 20px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 19px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 12px;
}
.over_flow {
	overflow: hidden;
}
.clear {
	clear: both;
}
.container {
	margin: auto;
	font-family: 'Century Gothic';
	width: 320px;
	font-size: 10px;
}
.header-area {
	background: none repeat scroll 0 0 #000;
	padding: 10px 30px;
	overflow: hidden;
}
.company-num {
	float: left;
}
.sign-area {
	float: right;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.guest-name {
	color: #848484;
}
.sign-area ul {
	margin: 0px;
}
.sign-area ul li {
	color: #848484;
	float:left;
	margin:0 0 0 10px;
	text-transform: uppercase;
}
.sign-area ul li a {
	color: #848484;
}
.sign-area ul li a:hover {
	color: #ffcc33;
}
.company-num {
	float: left;
	margin: 4px 0 0;
}
.menu-area {
	background: url("images/menu-rep.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
	padding: 8px 30px;
}
.home-link {
	float: left;
}
.home-link a, .menu-link a {
	background: none repeat scroll 0 0 #999933;
	border: 2px solid #ffcc33;
	border-radius: 15px;
	display: inline-block;
	padding: 5px;
}
.menu-link {
	float: right;
}
.logo {
	text-align: center;
	padding: 20px 0 0;
}
.login-area {
	background: none repeat scroll 0 0 #fff;
	border-radius: 10px;
	margin: 40px 30px 30px;
	padding: 15px;
}
.login-area:before {
	background: url("images/login-bg-arrow.png") no-repeat scroll center top rgba(0, 0, 0, 0);
	content: "";
	height: 13px;
	margin: -27px 0 0 106px;
	position: absolute;
	width: 21px;
}
.login-area h2 {
	font-size: 17px;
	color: #9c9c9c;
	margin: 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.ui-input-text input, .ui-input-search input {
	padding: 7px;
	border-radius: 5px;
	font-family: 'Century Gothic';
	font-size:10px;
}
.ui-input-text, .ui-input-search {
	margin: 1em 0;
}
.login-btn {
	background: url("images/login-arrow.png") no-repeat scroll 95% center #cd0600 !important;
	border: solid 1px #898989 !important;
	color: #fff;
	font-size: 14px !important;
	font-family: 'CenturyGothic-Bold' !important;
	opacity: 1 !important;
	text-indent: 0 !important;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	border-radius: 7px;
}
.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  border: medium none;
  border-radius: 7px;
}
.order-cloud {
	text-align: center;
	margin: 0 0 30px;
}
.footer-logo {
	border: solid 1px #c8c8c7;
	border-radius: 7px;
	text-align: center;
	margin: 0 30px 20px;
}
.cart-address-page-area {
  margin: 30px;
  text-align:center;
}
.cart-address-page-area .ui-input-text input, .cart-address-page-area .ui-input-search input {
	font-size: 14px;
	background:#fff;
	border:solid 1px #cbcbcb;
	font-family: 'Century Gothic';
	color: #666565;
}
.cart-address-page-area .ui-input-text input::-webkit-input-placeholder, .cart-address-page-area .ui-input-search input::-webkit-input-placeholder {
	color: #666565;
	opacity: 1 !important;
}
.cart-address-page-area .ui-input-text input:-moz-placeholder, .cart-address-page-area .ui-input-search input:-moz-placeholder {
	color: #666565;
	opacity: 1 !important;
}
.cart-address-page-area .ui-input-text input::-moz-placeholder, .cart-address-page-area .ui-input-search input::-moz-placeholder {
	color: #666565;
	opacity: 1 !important;
}
.cart-address-page-area .ui-input-text input:-ms-input-placeholder, .cart-address-page-area .ui-input-search input:-ms-input-placeholder, {
	color: #666565;
	opacity: 1 !important;
}
.cart-address-page-area .ui-btn {
	background: url("images/submit-login.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 1px solid #d3d3d1 !important;
	border-radius: 5px !important;
	color: #666565;
	display: inline-block;
	font-family: 'Century Gothic';
	font-weight:normal;
	font-size: 14px !important;
	height: 18px !important;
	opacity: 1 !important;
	padding: 4px 10px !important;
	text-indent: 0 !important;
	width: auto !important;
}
.pad-top{
	margin:9px 0 0;
}
.category-page-area {
  margin: 20px 30px;
  min-height: 300px;
}
.category-page-area h2{
	font-family: 'CenturyGothic-Bold';
	font-size:22px;
	color:#cc0000;
	text-align:center;
}
.category-page-area ul{
	margin:0 40px;
}
.category-page-area ul li{
	margin:0 0 15px;
}
.category-page-area ul li a{
	font-size:18px;
	color:#cc0000;
	background:url(images/categery-arrow.png) no-repeat right center;
	font-family: 'CenturyGothic-Bold';
	display:block;
	padding:3px 0;
}
.category-page-area ul li a:hover{
	color:#9a9933;
}
.load-more{
	background:#000;
	padding:10px;
	text-align:center;
}
.load-more a{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:url(images/load-more-img.png) no-repeat right center;
	padding:0 10px 0 0;
}
.my-order-page-area{
	min-height:300px;
	margin:20px 0px 20px 50px;
}
.my-order-page-area h2{
	font-family: 'CenturyGothic-Bold';
	font-size:24px;
	color:#cc0000;
}
.my-order-page-area p{
	font-size:18px;
	margin:0 0 30px ;
	color:#cc0000;
	font-family: 'CenturyGothic-Bold';
}
.order-status {
	margin:0 0 10px;
}
.order-status label{
	font-size:18px;
	color:#cc0000;
	font-family: 'CenturyGothic-Bold';
}
.order-status .ui-input-btn {
	background: url("images/accept-btn.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 1px solid #b3b3b3 !important;
	border-radius: 0px !important;
	color: #666565;
	display: inline-block;
	font-family: 'CenturyGothic-Bold';
	font-weight:normal;
	font-size: 11px !important;
	height: 14px !important;
	opacity: 1 !important;
	padding: 4px 10px !important;
	text-indent: 0 !important;
	width: 50% !important;
	margin:0px !important;
}
.optional-page-area{
	margin:10px 30px 30px;
}
.select-option-area {
	background:#fff;
}
.select-option-area .ui-radio {
  float: left;
  margin: 0.5em 0;
  padding: 0 30px 0 0;
  position: relative;
}
.select-option-area {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #cccccc;
  border-radius: 7px;
}
.ui-checkbox input, .ui-radio input {
  height: 22px;
  left: 0.466em;
  margin: -9px 0 0;
  outline: 0 none !important;
  position: absolute;
  top: 50%;
  width: 22px;
  z-index: 1;
}
.select-option-area ul li {
  border-bottom: 2px solid #ccc;
  font-family: arial;
  font-size: 17px;
  padding: 10px 0;
}
.select-option-area ul li:last-child {
  border: none;
}
.optional-page-area h3{
  font-family: arial;
  font-size: 17px;
  font-weight:normal;
  margin:10px 0 3px 10px; 
}
.add-a-cart{
	margin:20px 0 0;
}
.add-a-cart a {
  background:url(images/cart-img.png) no-repeat 97% center #cc0000;
  color: #fff;
  display: block;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
}
.add-a-cart a:hover {
  color: #fff;
}
.optional-page-area h2{
	font-family: 'CenturyGothic-Bold';
	font-size:27px;
	color:#cc0000;
}
.optional-page-area p{
	font-size:13px;
	font-family: 'CenturyGothic-Bold';
	color:#cc0000;
	margin:10px 0 0;
}
.add-extra-product{
	margin:30px 0 50px;
}
.add-extra-product .extra, .add-extra-product .remove{
  color: #000;
  float: left;
  font-family: arial;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.add-extra-product .remove{
	float:right;
}
.thank-you-page-area{
	padding:120px 50px 0;
	text-align:center;
}
.thank-yous-page-area h2{
	color:#cc0000;
	font-size:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:0px;
}
.thank-you-page-area{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.thank-you-page-area .ui-btn{
	background: url("images/submit-login.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 1px solid #d3d3d1 !important;
	border-radius: 5px !important;
	color: #666565;
	display: inline-block;
	font-family: 'Century Gothic';
	font-weight:normal;
	font-size: 14px !important;
	height: 18px !important;
	opacity: 1 !important;
	padding: 4px 10px !important;
	text-indent: 0 !important;
	width: auto !important;
	margin:50px 0 0 !important;
}
.cart-page-area, .cart2-page-area {
	margin:10px 30px;
	color:#cc0000;
}
.cart-page-area h2, .cart2-page-area h2{
	color:#cc0000;
	font-size:22px;
	font-family: 'CenturyGothic-Bold';
}
.cart-title-area label{
	float:left;
	font-family: 'CenturyGothic-Bold';
	font-size:18px;
}
.close-btn{
	float:right;
	margin:5px 0 0;
}
.ui-slider {
  margin: 0 !important;
}
.cart-quantity .ui-slider-handle.ui-btn.ui-btn-a.ui-shadow {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #d7d7d2;
}
.cart-rate {
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 5px 5px;
}
.cart-page-area .cart-submit-area .ui-btn, .cart2-page-area .cart-submit-area .ui-btn{
	background: url("images/submit-login.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 1px solid #d3d3d1 !important;
	border-radius: 5px !important;
	color: #666565;
	display: inline-block;
	font-family: 'Century Gothic';
	font-weight:normal;
	font-size: 14px !important;
	height: 18px !important;
	opacity: 1 !important;
	padding: 4px 10px !important;
	text-indent: 0 !important;
	width: auto !important;
	margin:0 0 10px !important;
	float:right;
}
.cart2-page-area .cart-quantity {
  width: 200px;
}
.cart2-page-area .cart-title-area label {
  float: left;
  font-family: 'CenturyGothic-Bold';
  font-size: 13px;
}
.cart2-page-area .close-btn img{
	width:70%;
}
.cart2-page-area .cart-rate {
  font-size: 10px;
}
.marchants-page-area {
  margin: 20px 15px;
  overflow: hidden;
}
.marchants-page-area ul li {
  float: left;
  width: 140px;
  margin: 0 5px 0 0;
}
.marchants-page-area ul li a {
  background:url(images/marchants-rep.jpg) repeat-x;
  border: 1px solid #c6c6bf;
  border-radius: 5px;
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 15px;
  padding:3px 0 2px;
  color:#716f6f;
  text-align: center;
}
.marchants-page-area ul li a:hover {
  background: none repeat scroll 0 0 #cc0000 !important;
  border: 1px solid #cc0000 !important;
  color: #fff !important;
  text-shadow: 0 0 0 #fff !important;
}
.marchants-page-area ul li:nth-child(even) {
  margin: 0;
}
.ui-popup.ui-body-inherit {
  background: none repeat scroll 0 0 #f1efe9;
  border: 1px solid #e1e0dc;
  border-radius: 0;
  box-shadow: 0 0 0;
  padding: 30px 10px 10px;
}
.ui-popup > .ui-btn-left, .ui-popup > .ui-btn-right{    
	top: 5px;
}
.ui-popup > .ui-btn-right {
  right: 5px;
}
.people-online {
  overflow: hidden;
  margin:10px 0 0;
}
.people-online li {
  float: left;
}
.online-icon {
  display: block;
  background:url(images/online-icon.png) no-repeat left center;
  color:#33cc33;
  padding:0 0 0 9px;
  font-size:8px;
  font-family:Arial, Helvetica, sans-serif;
  text-transform:uppercase;
}
.offline-icon{
  display: block;
  background:url(images/offline-icon.png) no-repeat left center;
  color:#cccccc;
  padding:0 0 0 9px;
  font-size:8px;
  font-family:Arial, Helvetica, sans-serif;
  text-transform:uppercase;
}
.people-online li {
  float: left;
  margin: 0 9px 20px 0;
}
.user-img {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
}
.user-online li {
  overflow: hidden;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0 0 10px;
}
.user-name {
  color: #716f6f;
  float: left;
  font-size: 12px;
  margin: 17px 0 0 5px;
  width: 140px;
}
.online-icon-1 {
  background: url("images/online-icon-1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #37cb03;
  float: right;
  font-size: 11px;
  margin: 17px 0 0;
  padding: 0 0 0 25px;
  text-transform:uppercase;
}
.offline-icon-1{
  background: url("images/offline-icon-1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #c6c6c6;
  float: right;
  font-size: 11px;
  margin: 17px 0 0;
  padding: 0 0 0 25px;
  text-transform:uppercase;
}
.list-item-area{
	margin:30px 0px 30px 55px;
	overflow:hidden;
}
.list-item-area ul li {
  float: left;
  margin:0 15px 15px 0;
}
.product-title {
  background: none repeat scroll 0 0 #cc0504;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin: 0 0 3px;
  padding: 5px;
  text-align: center;
  text-shadow: 0 0 0 #000;
}
.product-title a:hover{
	color:#fff;
}
.add-item{
	float:left;
}
.add-item a{
	float:left;
	color:#cc0000;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.add-item-img{
	float:right;
	border-left:solid 1px #c8c8c6;
	border-right:solid 1px #c8c8c6;
	padding:0 2px;
}
.product-popup {
  width: 270px;
  padding: 15px;
}
.ui-popup-screen.in {
  background: none repeat scroll 0 0 #000;
}
.product-popup-img {
  float: left;
  margin: 0 6px 0 0;
}
.product-popup h2 {
  color: #5a5957;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.product-popup p {
  font-size: 9px;
  margin: 0 0 10px;
}
.add-cart-text a {
  background: url("images/cart-img.png") no-repeat scroll 94% center #cc0504;
  color: #fff !important;
  display: block;
  font-size: 15px;
  padding: 10px;
  text-shadow: 0 0 0 !important;
}
.contact-us-page-area{
	font-size:17px;
	margin:30px;
}
.contact-us-page-area span{
	display:block
}
.contact-us-page-area span strong{
  font-family: 'CenturyGothic-Bold';
  color:#454545;
}
.number-text{
	color:#cb0601;
	font-family: 'Century Gothic';
}
.mail-text{
	margin:20px 0;
}
.mail-text strong{
  font-family: 'CenturyGothic-Bold';
  color:#454545;
}
.mail-text a{
	font-weight:normal;
	color:#878787;
}
.mail-text-1 a{
	font-weight:normal;
	color:#878787;
}
.slider{
	margin:30px 0 50px;
}









