#cart>div {
    width:15px;
    height:15px;
    position:absolute;
    -webkit-border-radius:50%;
    z-index:9999999;
    top:19px;
    left:16px;
    text-indent: 0;
    color: blue;
}
#cart.ui-btn {
    overflow:visible;
}
label.error { 
	float: left; 
	color: red; 
	padding-top: .5em; 
	vertical-align: top; 
	font-weight:bold
}
.message-dismiss
{
    padding-left: 0.5em;
    font-weight: normal;
    color: #555;
}
.message-container
{
    padding: 0.5em;
    line-height: 1em;
}
.message-container p
{
    padding: 0 1em;
}
.message-container p .ui-icon
{
    margin-right: .3em;
}

.header-area {
    background: none repeat scroll 0 0 #000;
    padding: 10px 30px;
    overflow: hidden;
}
.company-num {
    float: left;
}
.sign-area {
    float: right;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}
.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label-important,
.badge-important {
    background-color: #b94a48;
}
.label-important[href],
.badge-important[href] {
    background-color: #953b39;
}
.label-warning,
.badge-warning {
    background-color: #f89406;
}
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
.label-success,
.badge-success {
    background-color: #468847;
}
.label-success[href],
.badge-success[href] {
    background-color: #356635;
}
.label-info,
.badge-info {
    background-color: #3a87ad;
}
.label-info[href],
.badge-info[href] {
    background-color: #2d6987;
}
.label-inverse,
.badge-inverse {
    background-color: #333333;
}
.label-inverse[href],
.badge-inverse[href] {
    background-color: #1a1a1a;
}
.orange-status {
    left: 5px;
    top: 5px;
    width: 105px;
    height: 115px;
    background: url(/img/colourStatus.png);
    zoom:0.01;
    -moz-transform:scale(0.01);
    -moz-transform-origin: 0 0;
}
.blue-status {
    left: 115px;
    top: 5px;
    width: 105px;
    height: 115px;
    background: url(/img/colourStatus.png);
}
.green-status {
    left: 5px;
    top: 125px;
    width: 105px;
    height: 115px;
    background: url(/img/colourStatus.png);
}
.red-status {
    left: 115px;
    top: 125px;
    width: 105px;
    height: 115px;
    background: url(/img/colourStatus.png);
}
